/* All Elements */

*{	border:0;	padding: 0;	margin: 0;}

/* Fonts */

@font-face{	font-family:Lobster Two;	src: url('./fonts/LobsterTwo.woff2') format('woff2');}
@font-face{	font-family:Pacifico;	src: url('./fonts/Pacifico.woff2') format('woff2');}
@font-face{	font-family:Comfortaa;	src: url('./fonts/Comfortaa.woff2') format('woff2');}

/* Body */

body{
  background: url('./img/wallpaper.jpg');
  background-color: rgba(0,0,0,0.25);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Heading on Navigation Bar */

.nav span a{
  text-decoration: none;
  float: left;
  font-family: 'Lobster Two';
  font-size: 3em;
  color: white;
  margin-top:15px;
  margin-left:15px;
  transition:color 500ms;
}

.nav span a:hover{color:aqua;}

/* Navigation Bar */

.nav ul{
  top: 0;
  overflow: hidden;
  list-style: none;
  font-family: 'Pacifico',cursive;
  background-color: rgba(0,0,0,1);
}
.nav li{	float:right;}

.nav li a{
  padding: 30px;
  text-decoration: none;
  font-size:1.2em;
  display: block;
  color:white;
  transition:background-color 600ms;
}

/* Navgation Hoving Effect */

.nav li a:hover{
  background:aqua;
  color:black;
}

/* Search */

.search{
  text-align: center;
  margin-top: 5%;
}

/* Search Box */

.search input[type = 'text']{
  width:400px;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  border: 1px solid white;
  margin-right: 20px;
  background-color: #222;
  font-family:Lobster Two;	color:white;
  font-size:1.7em;
}

  /* Search Button */

  .search input[type = 'submit']{
  border:4px solid white;
  padding: 15px;
  font-family:Pacifico;
  font-size: 1em;
  border-radius: 50% 1% 50% 1%;
  transition:background-color 500ms;
}

  /* Search Button Hoving Effect */

.search input[type = 'submit']:hover{
  background: #222;
  border-color:aqua;
  color: white;
}

/* Content on Search */
.content{
  color:white;
  margin-left:50px;
}

/* Grid View */
.box{
  float:left;
  display:block;
  text-align: center;
  margin: 20px;
}
/* Images and Labels */

.box img{
  width:225px;
  height:375px;
  border:10px solid #222;
  transition:border-color 500ms;
}

.box img:hover{border-color: aqua;}

.box label{font-family: Comfortaa,cursive;}

/* Series Content */

.series_content{	margin:50px;	color: black;}

.series_content h1{
  color:aqua;
  font-family: Lobster Two,cursive;
  text-align: center;
}

.series_content img{
  border: 2px solid aqua;
  float:left;
  margin-bottom:40px;
  width:281px;
  height:468px;
}

/* Series Table */

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

th{	background:aqua;	color:black;}

th, td {
  text-align: left;
  padding: 15px;
  font-family:Comfortaa,cursive;
}

tr a{
  color:black;
  width:100%;
  text-decoration: none;
}

tr:nth-child(even),tr{transition:background-color 750ms;}

tr:hover,tr:nth-child(even):hover{	background-color: aqua;}

tr:nth-child(even){background-color: #f0f0f0}
