/*
Here is all the styling for 'insert.php'.
First of all I removed all the margin and padding.
*/
*{
  margin:0;
  padding: 0;
}

/* Fonts */

@font-face{
	font-family:Lobster Two;
	src: url('./fonts/Ubuntu.woff2') format('woff2');
}

/* Inside the body tag */
body{
  background: #3F51B5;
  font-family: 'Ubuntu', sans-serif;
}/* Background Color */

/* The Form */

.insertion_form{
  margin-left: 30%;
  background: #2196F3;/* Form Background Color */
  margin-top:5%;
  color:white;/* Color of the text */
  width:40%;
  font-size:1.2em;
  box-shadow: 20px 25px 100px #333;/* Shadow effect for the form box */
}

form{padding:5%;}/* Padding all the sides of form, else the input box will be so close to the borders. */

/* Properties of Input Boxes and Select Menu */

form input, select{
  font-family: 'Ubuntu', sans-serif;
  background: #333;/* Input Box Background Color */
  color:white;/* Color of the text */
  float: right;/* Floating towards right for uniform alignment */
  margin-right: 25px;/* A little gap between borders of form and input box */
  padding:10px;
  border:1px solid black;/* Removing the borders from input tag */
  width:50%;/* Elongation of the input box */
  font-size: .9em;
  text-align:center;
  transition: all 1s;/* Transition effect for input and select boxes when focused/selected. */
}
form input:focus,select:focus{
  background: black;/* While in focus the corresponding tag will change its color from grey to black */
  transform: scale(1.1);/* Growing big */
  box-shadow: 0px 0px 20px white;/* A shadow effect */
}
form input:disabled{background-color: transparent;color:transparent;}/* Hiding the input box which are disabled. */

/* Insert Button Properties */

button{
  font-family: 'Ubuntu', sans-serif;
  background:#3F51B5;
  color:white;
  border-radius:10px;
  padding:20px;
  font-size:1em;
  margin-left:40%;
  box-shadow: 0px 6px #5C6BC0;
  transition: all .1s;
}

/* While Insert Button is Clicked */

button:active{
  box-shadow: 0px 2px #3F51B5;
  transform: translateY(5px);
}
